:root {
  --site-background-color: #181818;
  --site-secondary-color: #282828;

  --site-accent-color: #97d0e8;
  --site-accent-color-hover: #72a9c1;

  --site-primary-text-color: #d8d8d8;
  --site-secondary-text-color: #808080;
}

html {
  // background-image: url("/assets/blackfloral.png");
  background-color: var(--site-background-color);
  color: var(--site-primary-text-color);
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.layout {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

p {
  font-size: 1.125rem;
  margin: unset;
}

hr {
  margin: 1.5rem 0;
  border: 0;
  border-bottom: 1px solid var(--site-secondary-color);
}

a {
  text-decoration: none;
}


a {
  color: var(--site-accent-color);
  text-decoration: none;
  cursor: pointer;

  transition-property: opacity, text-decoration;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

  &:hover, &:focus {
    color: var(--site-accent-color-hover);
    opacity: 0.5;
  }
}
