---
import Films from "@components/Films.svelte";
import Footer from "@components/Footer.astro";
import Friends from "@components/Friends.astro";
import Mood from "@components/Mood.astro";
import Tracks from "@components/Tracks.svelte";
import Layout from "@layouts/Layout.astro";

import hana from "@assets/hana.jpg";
import underline from "@assets/underline.svg";
---

<Layout>
  <div class="layout">
    <div class="header">
      <a
        href="https://x.com/tami_moon02/status/1269967562445488130"
        target="_blank"
        rel="noopener noreferrer"
      ><img
          src={hana.src}
          alt="hana"
          title="hana — Source"
          class="hana"
          height="300"
        /></a>
      <div style="padding: 0 2rem">
        <p class="intro">
          hello, i'm <span
            style="color: var(--site-accent-color); cursor: help"
            title="he/him"
          >fawn</span>!
        </p>
        <img
          src={underline.src}
          alt="underline"
          width="250"
          class="underline"
        />
        <p>
          self-taught software developer with a passion for movies, and music.
          my favorite flowers are tulips 🌷.
        </p>
        <br>
        <div style="color: var(--site-secondary-text-color)">
          send me anonymous whispers on <a
            href="https://tamako.fawn.moe"
            target="_blank"
            rel="noopener noreferrer"
          >tamako</a> &lt;3
        </div>
        <br />
        <Mood />
      </div>
    </div>
    <hr>
    <h2>Recent Films</h2>
    <Films client:load />
    <h2>Recent Tracks</h2>
    <Tracks client:load />
    <h2>Friends</h2>
    <Friends />

    <Footer />
  </div>
</Layout>

<style lang="scss">
.layout {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
}

.intro {
  font-weight: 600;
  font-size: 2rem;
}

.hana {
  border-radius: 8px;
}

.underline {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
</style>
