---
import Films from "@components/Films.svelte";
import Footer from "@components/Footer.astro";
import Friends from "@components/Friends.astro";
import Tracks from "@components/Tracks.svelte";
import Layout from "@layouts/Layout.astro";

import hana from "@assets/hana.jpg";
import underline from "@assets/underline.svg";
---

<Layout>
  <div class="layout">
    <div class="header">
      <img src={hana.src} alt="hana" class="hana" height="300" />
      <div style="padding: 0 2rem">
        <p class="intro">
          hello, i'm <span style="color: var(--site-accent-color)">fawn</span>!
        </p>
        <img
          src={underline.src}
          alt="underline"
          width="250"
          class="underline"
        />
        <p>
          self-taught software developer with a passion for movies, and music.
          my favorite flowers are tulips 🌷.
        </p>
        <br>
      </div>
    </div>
    <hr>
    <h2>Recent Films</h2>
    <Films client:load />
    <h2>Recent Tracks</h2>
    <Tracks client:load />
    <h2>Friends</h2>
    <Friends />

    <Footer />
  </div>
</Layout>

<style lang="scss">
h2 {
  margin: unset;
  padding-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: var(--site-secondary-text-color);
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.header {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
}

.intro {
  font-weight: 600;
  font-size: 2rem;
}

.hana {
  border-radius: 8px;
}

.underline {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
</style>
