---
import Films from "@components/Films.svelte";
import Footer from "@components/Footer.astro";
import Friends from "@components/Friends.astro";
import Tracks from "@components/Tracks.svelte";
import Layout from "@layouts/Layout.astro";

import avatar from "@assets/avatar.jpg";
import Underline from "@assets/underline.svg";
---

<Layout>
  <div class="layout">
    <div class="header">
      <img
        src={avatar.src}
        alt="avatar"
        id="avatar"
        height="300"
      />
      <div style="padding: 0 2rem">
        <p id="intro">
          hello, i'm <span
            style="color: var(--site-accent-color); user-select: none"
            title="he/him"
            id="name"
          >fawn</span>!
        </p>
        <Underline width="250" id="underline" fill="var(--site-accent-color)" />
        <p>
          self-taught software developer with a passion for movies, and music.
          my favorite flowers are tulips 🌷.
        </p>
        <br>
        <div style="color: var(--site-secondary-text-color)">
          send me anonymous whispers on <a
            href="https://tamako.fawn.moe"
            target="_blank"
            rel="noopener noreferrer"
          >tamako</a> &lt;3
        </div>
        <br />
      </div>
    </div>
    <hr>
    <h2>Recent Films</h2>
    <Films client:load />
    <h2>Recent Tracks</h2>
    <Tracks client:load />
    <h2>Friends</h2>
    <Friends />

    <Footer />
  </div>
</Layout>

<style lang="scss">
.layout {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
}

#intro {
  font-weight: 600;
  font-size: 2rem;
}

#avatar {
  border-radius: 8px;
}

#underline {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
</style>

<!-- <script> -->
<!-- const PINK = "#ee95d2"; -->
<!-- const CYAN = "#97d0e8"; -->

<!-- const name = document.getElementById("name"); -->
<!-- const underline = document.getElementById("underline"); -->

<!-- let count = 0; -->

<!-- const cat = (h: string) => { -->
<!--   return Array.from(h).reduce((a, c) => a + c.charCodeAt(0), 0); -->
<!-- }; -->

<!-- const euphoria = Math.floor(cat("faye") / (cat("e") / 2)); -->

<!-- name?.addEventListener("click", () => { -->
<!--   count++; -->
<!--   count === euphoria ? trans() : detrans(); -->
<!-- }); -->

<!-- const trans = () => { -->
<!--   document.documentElement.style.setProperty("--site-accent-color", PINK); -->
<!--   name.textContent = "faye"; -->
<!--   name?.setAttribute("title", "she/her"); -->
<!-- }; -->

<!-- const detrans = () => { -->
<!--   document.documentElement.style.setProperty("--site-accent-color", CYAN); -->
<!--   name.textContent = "fawn"; -->
<!--   name?.setAttribute("title", "he/him"); -->
<!-- }; -->
<!-- </script> -->
