<!-- stolen from sami >:) -->

<hr />

<footer style="color: var(--site-secondary-text-color)">
  © 2025, fawn<br />
  Made with <span style="color: #ee9598">❤</span> by fawn<br />
  Site licensed under <a
    href="https://github.com/fawni/flower?tab=Apache-2.0-1-ov-file"
  >Apache-2.0</a>
  ∙
  <a href="https://github.com/fawni/flower">Site Source</a>
</footer>

<style>
footer {
  padding-bottom: 5rem;
}
</style>
